.logotypeIcon {
  position: relative;
  font-size: 32px;
  letter-spacing: -0.04em;
  line-height: 48px;
  font-weight: 700;
  font-family: Inter;
  color: #fff;
  text-align: left;
}
.linkText {
  position: relative;
  line-height: 36px;
  font-weight: 600;
}
.elementlink,
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.links {
  flex: 1;
  align-items: flex-start;
  gap: 64px;
}
.iconarrowleft {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text {
  position: relative;
  font-size: 16px;
  line-height: 32px;
  font-family: Inter;
  color: #fab300;
  text-align: center;
}
.button,
.navbar1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.button {
  cursor: pointer;
  border: 2px solid #fab300;
  padding: 16px 32px;
  background-color: transparent;
  border-radius: 16px;
  justify-content: center;
}
.navbar1 {
  margin: 0;
  width: 1520px;
  justify-content: flex-start;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-family: Inter;
}
.texth1,
.texth11 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.04em;
  line-height: 96px;
  font-weight: 100;
  font-family: inherit;
}
.texth11 {
  font-weight: 600;
}
.heroText,
.textp {
  display: flex;
  width: 656px;
}
.heroText {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.textp {
  margin: 0;
  position: relative;
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
  align-items: center;
}
.buttonappstoreIcon,
.buttongoogleplayIcon {
  position: relative;
  width: 221.54px;
  height: 64px;
}
.buttongoogleplayIcon {
  width: 221.23px;
}
.storeButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.textb,
.textp1 {
  position: relative;
  line-height: 40px;
}
.textp1 {
  margin: 0;
}
.textb {
  font-weight: 700;
  color: #fab300;
}
.text1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
.iconstar {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.rating,
.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rating {
  align-self: stretch;
  gap: 16px;
  font-size: 24px;
}
.section {
  gap: 48px;
}
.content,
.hero,
.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero {
  background-color: #181f4e;
  width: 1920px;
  height: 1080px;
  padding: 32px 200px;
  box-sizing: border-box;
  gap: 64px;
}
.content {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 96px;
  color: #fff;
  font-family: Inter;
}
